
.userNameTh{
    width: 3%
}

.modelsTh{
    width: 97%
}

button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #646769;
    border: none;
}

button:hover{
    background-color: #8a8f94;
    color: white;
    border: none;
}

