
.applicationTh{
    width: 10%
}

.userActivityPreviewsTh{
    width: 90%
}

.divByActivity{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #646769;
    border: none;
}

.divByActivity:hover{
    background-color: #8a8f94;
    color: white;
    border: none;
}

.monitorACtivityPreview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

