thead {
    background-color: #212325;
    color: white;
}

thead th {
    border-top-color: #212325 !important;
    border-bottom-color: #212325 !important;
}

.MonitoredUsersList tr {
    background-color: #4d5358;
}

.MonitoredUsersList tr:hover{
    background-color: #8a8f94;
    color: white;
}

.MonitoredUsersList tr td {
    color: white;
    border-color: #646769; 
}

.monitoredUserListItem {
    color: white !important;
    background-color: #4d5358 !important; 
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.monitoredUserListItem:hover {
    background-color: #8a8f94 !important;
    color: white;
}

.indexTd {
    width: 5vw;
}

.userNametd {
    width: 95vw;
}